<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <h1>Klasifikasi Kelapa Sawit</h1>
        <form action="/predict" method="post" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <select name="model">
                <option value="wnb">Weighted Naive Bayes</option>
                <option value="nb">Naive Bayes</option>
            </select>
            <button type="submit">Upload and Predict</button>
        </form>
    </div>
</body>
</html>
